export("covxfrm", "CumulativeWeightPlot", "dlm.ImportanceWts",
       "dlm.ObsPred", "dlm.SafeLL", "dlm.SafeMLE", "dlm.ThetaSample",
       "dmvnorm.SpD", "dmvt.SpD", "EBMtrend.modeldef",
       "EBMtrendSmooth", "EnsEBM2waytrend.modeldef",
       "EnsEBM2waytrend.NegLL", "EnsEBM2waytrendSmooth",
       "EnsEBMtrend.modeldef", "EnsEBMtrendSmooth",
       "EnsSLLT.modeldef", "EnsSLLTSmooth", "ExamineFailures",
       "GraphAnnot", "make.SSinits", "PlotPPSWeights",
       "PlotEnsTS", "PostPred.VidFrames", "PostPredSample",
       "SampleObs", "SampleStates", "SLLT.IniPar", "SLLT.modeldef",
       "SLLTSmooth", "SmoothPlot", "PrintDLMFit", "which.diffuse")
import(dlm, numDeriv, magick)
importFrom(Hmisc, "wtd.quantile")
importFrom("grDevices", "col2rgb", "dev.off", "grey", "hcl.colors", "png", "rgb")
importFrom("graphics", "abline", "legend", "lines", "matlines", "matplot", "mtext", 
		"pairs", "par", "polygon", "title")
importFrom("stats", "acf", "arima", "coef", "contrasts<-", "cov2cor", "dnorm", "loess",
 		"median", "model.matrix", "na.pass", "nlm", "pchisq", "pnorm", "ppoints",
 		"qchisq", "qgamma", "quantile", "rchisq", "rnorm", "stepfun", "var",
 		"weighted.mean")
